<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel = "stylesheet" type="text/css" href="/css/userHome.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/user">Library Portal</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/user">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/user/changepassword">Change Password</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../auth/logout">Log out</a>
                </li>
              </ul>
            </div>
        </nav>
        <form class="d-flex form-group searchBar justify-content-center mt-3 p-2" id="searchForm" action="./searchBook" method="GET">
            <select name="criterion" class="form-select" form="searchForm">
                <option selected value="name">Book name</option>
                <option value="ISBN">ISBN</option>
                <option value="author">Author</option>
            </select>
            <input type="text" class="form-control" id="keyword" name="keyword" placeholder="Enter the keyword (Empty to view all books)" />
            <button class="btn btn-primary" type="submit">Search</button>
        </form>
        <div class="main-content container-fluid">
            <div class="issued">
                <div class="d-flex flex-wrap justify-content-center">
                    <h5 id="issueHead" class="section">Issued Books</h5>
                    <h5 id="holdHead" class="section passivebackground">Books on hold</h5>
                    <h5 id="fineHead" class="section passivebackground">Fines</h5>
                    <h5 id="recommendHead" class="section passivebackground">Recommendations</h5>
                </div>
                <ul class="list-group issuedBooks" id="issuedBooks">
                    <%if(locals.issuedBooks.length==0){%>
                        <h3>No books issued</h3>
                    <%}else{%>
                        <%for(let i=0;i<locals.issuedBooks.length;i++) { %>
                            <li class="d-flex list-group-item bookItem">
                                 <img class="bookimage" src="../img/book.jpg"/> 
                                 <div class="bookdetails">
                                     <h4 class='text-uppercase'><%=locals.issuedBooks[i].title%></h4>
                                     <hr/>
                                     <p>Author: <%=locals.issuedBooks[i].name%></p>
                                     <p>ISBN: <%=locals.issuedBooks[i].ISBN%></p>
                                     <p>Book ID: <%=locals.issuedBooks[i].book_id%></p>
                                     <%var dueDate = locals.issuedBooks[i].borrowed_date;
                                     dueDate.setDate(dueDate.getDate()+10);
                                     var datestring = `${dueDate.getDate()} - ${dueDate.getMonth()+1} - ${dueDate.getFullYear()}`
                                     %>
                                     <p>Due date : <%=datestring%></p>
                                     <form method='post' action='/user/postRating'>
                                            <div class="form-group d-none">
                                                <label class="mt-1">Book ID</label>
                                                <input class="mt-1 form-control" name='book_id' type="text" value='<%=locals.issuedBooks[i].book_id%>'/>
                                            </div>
                                            <div class="form-group">
                                                <label class="mt-1">Rating (1-5)</label>
                                                <input class="mt-1 form-control" name='rating' type="number" />
                                            </div>
                                        <div class="form-group">
                                            <p class="mt-3" style="color: red" id="errorDelete"></p>
                                        </div>
                                        <div class="form-group">
                                            <p class="mt-3" style="color: green" id="successDelete"></p>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary">Rate this Book</button>
                                        </div>
                                    </form>
                                 </div>
                                 <%if(dueDate < new Date()){%>
                                    <p>Over due</p>
                                <%}%>
                             </li>
                         <%}%>
                    <%}%>
                </ul>
                <ul class="list-group holdBooks d-none" id="holdBooks">
                    <%if(locals.holdBooks.length == 0){%>
                        <h3>No books on hold</h3>
                    <%}else{%>
                        <%for(let i=0;i<locals.holdBooks.length;i++){%>
                            <li class="d-flex list-group-item bookItem">
                                <img class="bookimage" src="../img/book.jpg"/> 
                                <div class="bookdetails">
                                    <h4 class='text-uppercase'><%=locals.holdBooks[i].title%></h4>
                                    <hr/>
                                    <p>Author: <%=locals.holdBooks[i].name%></p>
                                    <p>ISBN: <%=locals.holdBooks[i].ISBN%></p>
                                    <p>Book ID: <%=locals.holdBooks[i].book_id%></p>
                                    <%if(locals.holdBooks[i].borrowed_id != null){
                                        var dueDate = locals.holdBooks[i].borrowed_date;
                                        dueDate.setDate(dueDate.getDate()+10);
                                        var datestring = `${dueDate.getDate()} - ${dueDate.getMonth()+1} - ${dueDate.getFullYear()}`;
                                        %>
                                        <p>Due date : <%=datestring%></p>
                                    <%}else{
                                        var holdDate = locals.holdBooks[i].hold_date;
                                        holdDate.setDate(holdDate.getDate()+10);
                                        var holdstring = `${holdDate.getDate()} - ${holdDate.getMonth()+1} - ${holdDate.getFullYear()}`;
                                        %>
                                        <p>Issue Book before : <%=holdstring%></p>
                                    <%}%>
                                </div>
                            </li>
                        <%}%>
                    <%}%>
                </ul>
                <ul class="list-group recommendBooks d-none" id="recommendBooks">
                   <%if(locals.issuedBooks.length==0){%>
                        <h3>No books issued</h3>
                    <%}else{%>
                        <%for(let i=0;i<locals.issuedBooks.length;i++) { %>
                            <li class="d-flex list-group-item bookItem">
                                 <img class="bookimage" src="../img/book.jpg"/> 
                                 <div class="bookdetails">
                                     <h4 class='text-uppercase'><%=locals.issuedBooks[i].title%></h4>
                                     <hr/>
                                     <p>Author: <%=locals.issuedBooks[i].name%></p>
                                     <p>ISBN: <%=locals.issuedBooks[i].ISBN%></p>
                                     <p>Book ID: <%=locals.issuedBooks[i].book_id%></p>
                                 </div>
                             </li>
                         <%}%>
                    <%}%>
                </ul>
                <ul class="list-group fine d-none" id="fine">
                    <p>You have <%=locals.total_fine%> rupees unpaid fine</p>
                </ul>
            </div>
        </div>
        <script type="text/javascript" src="/js/userHome.js"></script>
    </body>
</html>